<div class="flex flex-col" [ngClass]="maintainScreenHeight ? 'h-screen' : 'min-h-screen'">
  <app-navbar [sidenav]="sidenav" class="flex-none" #navbar></app-navbar>
  <main id="main-page" class="flex flex-auto" [ngClass]="{ 'min-h-0': maintainScreenHeight }">
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <ng-template #empty></ng-template>
        <ng-container *ngTemplateOutlet="navbar.sidenavTemplate || empty"/>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <app-footer class="flex-none"></app-footer>
</div>
